%table.tweets{:cellspacing => 0}
  - @tweets.each do |tweet|
    - classification = current_user.classify(tweet.text)
    %tr.tweet{:class => make_class(classification)}
      %td
        = form_tag hate_path, :class => 'train hate' do
          = hidden_field_tag 'text', tweet.text, :class => 'text'
          = submit_tag 'Hates It!'
      %td
        %p.score
          = classification.first.to_s.gsub(/^(\S+)_/, '')
          = classification.last
        %br
        %p.text= tweet.text
        %p
          = link_to tweet.created_at, "http://twitter.com/#!/#{tweet.from_user}/status/#{tweet.id_str}", :class => 'permalink'
      %td
        = form_tag love_path, :class => 'train love' do
          = hidden_field_tag 'text', tweet.text, :class => 'text'
          = submit_tag 'Loves It!'
= will_paginate @tweets
