%p.instructions Click on tweets you hate and tweets you love. We'll predict and highlight new tweets for you.
%ul.tabs
  %li= link_to_unless_current 'Home timeline', root_path
  %li= link_to_unless_current 'Public timeline', twitter_public_path
  %li
    = form_tag twitter_search_path, :method => :get do
      = text_field_tag :q, params[:q], :placeholder => 'search'
      = submit_tag 'Search Twitter', :class => 'button'
  %li
    = form_tag twitter_user_path, :method => :get do
      = text_field_tag :screen_name, params[:screen_name], :placeholder => 'screen name'
      = submit_tag 'User Timeline', :class => 'button'

- if @tweets
  %table.tweets.tablesorter{:cellspacing => 0}
    %thead
      %tr
        %th.sort Sort
        %th.sort Sort
        %th
        %th.sort Sort
        %th
        %th
    %tbody
      - @tweets.each do |tweet|
        - classification = current_user.classify(tweet.text)
        %tr.tweet{:class => make_class(classification)}
          %td.date{:data => {:sortkey => DateTime.parse(tweet.created_at).to_i}}
            = link_to pretty_time(tweet.created_at), "http://twitter.com/#!/#{tweet.from_user}/status/#{tweet.id_str}", :class => 'permalink'
          %td
            .container.user
              - if tweet.user
                .user_info
                  @#{tweet.user.screen_name}
                  %br
                  = tweet.user.location
                = image_tag(tweet.user.profile_image_url, :class => 'avatar') if tweet.user.profile_image_url
              - else
                .user_info
                  @#{tweet.from_user}
                = image_tag(tweet.profile_image_url, :class => 'avatar') if tweet.profile_image_url
          %td.text
            = tweet.text
          %td.score{:data => {:sortkey => to_score(classification)}}
            = pretty_score(classification)
          %td
            = form_tag hate_path, :class => "train hate #{hated?(classification) ? 'marked' : ''}" do
              = hidden_field_tag 'text', tweet.text, :class => 'text'
              = submit_tag 'Hates It!', :class => 'button'
          %td
            = form_tag love_path, :class => "train love #{loved?(classification) ? 'marked' : ''}" do
              = hidden_field_tag 'text', tweet.text, :class => 'text'
              = submit_tag 'Loves It!', :class => 'button'
